/* Analytics extension, https://github.com/GiovanniSalmeri/yellow-analytics */

/* CUSTOM CLASSES */
.glowCookies__left {
  left: 15px;
}

.glowCookies__right {
  right: 15px;
}

.glowCookies__show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

/* COMMON STYLES */
/* ========================= */
.glowCookies__banner {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: auto;
  max-width: 375px;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  transition: transform .2s ease, opacity .2s ease !important;
  background-color: #fff;
  color: #1d2e38;
  border: 1px solid #e6e6e6 !important; /* added */
}

.glowCookies__banner .accept__btn__styles {
  border: none;
  padding: 5px 5px; /* was 13px 15px */
  font-size: 15px;
  font-family: inherit;
  width: 49%;
  cursor: pointer;
  font-weight: bolder;
  transition: filter 0.15s;
  user-select: none;
  background-color: #253b48;
  color: #fff;
}

.glowCookies__banner .settings__btn__styles {
  border: none;
  padding: 5px 5px;  /* was 13px 15px */
  font-family: inherit;
  font-size: 15px;
  width: 49%;
  cursor: pointer;
  font-weight: bolder;
  transition: filter 0.15s;
  user-select: none;
  background-color: #E8E8E8;
  color: #636363;
}

.glowCookies__banner .btn__section button:focus {
  outline: none;
  transform: scale(0.95);
  -webkit-filter: contrast(75%);
  filter: contrast(75%);
}

.glowCookies__banner .btn__section button:hover {
  -webkit-filter: contrast(85%);
  filter: contrast(85%);
}

@media (max-width: 455px) {
  .btn__section .btn__accept {
    width: 100%;
    margin-bottom: 7px;
  }

  .btn__section .btn__settings {
      width: 100%;
  }
}

/* BANNER STYLE 1 */
/* ========================= */
.glowCookies__banner__rounded {
  bottom: 15px;
  border-radius: 10px; /* was 20 */
  padding: 20px 25px;
}

.glowCookies__banner__rounded > h3 {
  font-size: 24px;
  margin: 0px;
  padding: 2px 0; /* was 8px 0 */
}

.glowCookies__banner__rounded > p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  line-height: 1.3;
}

.glowCookies__banner__rounded .read__more {
  font-weight: bolder;
}

.glowCookies__banner__rounded .read__more:hover {
  color: #666666;
}

.glowCookies__banner__rounded .btn__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.glowCookies__banner__rounded .btn__section button {
  border-radius: 10px;
}

@media (max-width: 455px) {
  .glowCookies__banner__rounded {
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: 7px;
  }

  .glowCookies__banner__rounded .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
  }
}


/* BANNER STYLE 2 */
/* ========================= */
.glowCookies__banner__medium {
  bottom: 15px;
  border-radius: 5px;
  padding: 15px 25px; /* was 25px 35px */
}

.glowCookies__banner__medium > h3 {
  font-size: 24px;
  margin: 0px;
  padding: 2px 0; /* was 8px 0 */
}

.glowCookies__banner__medium > p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  line-height: 1.3;
}

.glowCookies__banner__medium .read__more {
  font-weight: bolder;
}

.glowCookies__banner__medium .read__more:hover {
  opacity: 0.8;
}

.glowCookies__banner__medium .btn__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.glowCookies__banner__medium .btn__section button {
  border-radius: 5px;
}

@media (max-width: 455px) {
  .glowCookies__banner__medium {
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 0px;
      border: 0px;
      max-width: 550px;
  }

  .glowCookies__banner__medium .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
  }
}

/* BANNER STYLE 3 */
/* ========================= */
.glowCookies__banner__squared {
  bottom: 15px;
  border-radius: 0px;
  padding: 15px 25px; /* was 25px 35px */
}

.glowCookies__banner__squared > h3 {
  font-size: 30px;
  margin: 0px;
  padding: 2px 0; /* was 8px 0 */
}

.glowCookies__banner__squared > p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  line-height: 1.3;
}

.glowCookies__banner__squared .read__more {
  font-weight: bolder;
}

.glowCookies__banner__squared .read__more:hover {
  opacity: 0.8;
}

.glowCookies__banner__squared .btn__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 25px;
}

.glowCookies__banner__squared .btn__section button {
  border-radius: 0px;
}

@media (max-width: 455px) {
  .glowCookies__banner__squared {
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 0px;
      border: 0px;
      max-width: 550px;
  }

  .glowCookies__banner__squared .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
  }
}

/* Prebanner styles */
/* =========================== */
.prebanner {
  position: fixed;
  bottom: 15px;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  line-height: normal;
  border: none;
  padding: 12px 18px;
  text-decoration: none;
  user-select: none;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  color: #1d2e38;
  background-color: #fff;
  border: 1px solid #e6e6e6 !important; /* added */
}

.prebanner__border__rounded {
  border-radius: 10px; /* was 15 */
}

.prebanner__border__medium {
  border-radius: 5px; /* was 10 */
}

.prebanner__border__squared {
  border-radius: 0px; /* was 2 */
}

.animation {
  transition: .2s;
}

.animation:hover {
  transform: scale(.97);
}

.prebanner:hover {
  text-decoration: none;
}
